@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&family=Special+Elite&family=Ubuntu&family=Unbounded:wght@300&display=swap%27');

body {
    font-family: 'Unbounded', cursive;
}

h2 {
    font-size: 300%;
    padding: 3% 3% 0%;
}

p {
    font-size: 150%;
    padding: 4%;
}

.nav-bar{
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    /*top: 0;*/
}

.nav-bar-button{
    color: #fdfcfc; /* text color */
    text-decoration: none; /* remove underline */
    padding: 10px 20px; /* button padding */
    border: none; /* remove border */
    font-size: 16px; /* text size */
    cursor: pointer; /* change cursor on hover */
    background-color: transparent;
}

.nav-bar-button:hover {
    color: black;
    background-color: #D3D3D3;
    transform: scale(1.2);
}

.nav-bar-button:active {
    background-color: #801e37;
    color: #fdfcfc;
    transform: scale(0.95);
}

#user-block {
    display: inline-block;

}

.visit-granny-button-container {
    float: right;
    margin: 2%;
}

.visit-granny-button {
    background-color: #801e37; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5%;
}

.text-card {
    margin: auto;
    width: 80%;
    border: none;
    background-color: #BF6330;
    border-radius: 3%;
}

#image-container {
    border: black;
    width: 80%;
    right: 10%;
    padding: 8%;
}

#massage {
    display: inline-block;
    top: 20%;
    font-size: 200%;
}