@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&family=Special+Elite&family=Ubuntu&family=Unbounded:wght@300&display=swap%27');

body{
    font-family: 'Unbounded', cursive;
    background-color: #ded8b6;
}

.card-head {
    font-size: 300%;
    padding: 3% 3% 0%;
}

.card-text {
    font-size: 150%;
    padding: 4%;
}

.nav-bar{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

.nav-bar-button{
    color: #fdfcfc; /* text color */
    text-decoration: none; /* remove underline */
    padding: 10px 20px; /* button padding */
    border: none; /* remove border */
    font-size: 16px; /* text size */
    cursor: pointer; /* change cursor on hover */
    background-color: transparent;
}

.nav-bar-button:hover {
    color: black;
    background-color: #D3D3D3;
    transform: scale(1.2);
}

.nav-bar-button:active {
    background-color: #801e37;
    color: #fdfcfc;
    transform: scale(0.95);
}

#user-block {
    display: inline-block;

}

.visit-granny-button-container {
    float: right;
    margin: 2%;
}

.visit-granny-button {
    background-color: #801e37; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5%;
}

.text-card {
    margin: auto;
    width: 80%;
    border: none;
    background-color: #625185;
    border-radius: 5px;
    color: #ded8b6;
}

#image-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    border: none;
    background-color: #625185;
    border-radius: 5px;
    color: #ded8b6;
}

#content {
    margin-left: 50px;
    margin-top: 0;
}

#landing-page-image {
    margin-bottom: 20px;
}

#welcome-div {
    position: absolute;
    display: inline-block;
    top: 50%;
    font-size: 200%;
    align-self: center;
    font-family: inherit;
    color: inherit;
    z-index: 1;
}